version: '3.8'

services:
  vpn-bot:
    build: .
    container_name: marzban_vpn_bot
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./.env:/app/.env
    network_mode: host
